<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

<div id="container">
  <!-- Header -->
  <img id="logo" src= "{{logo}}">
  <h1>{{title}}</h1>

  <!-- Keypad -->
  <div class="keypadwrapper">
    <h2>{{header}}</h2>
    <div class="keypad">
      <div id="lineone" class="numberline">
        <div class="content" (click)="padPress(1)">
          <div>
            <span class="number">1</span>
            <span>___</span>
          </div>
        </div>
        <div class="content" (click)="padPress(2)">
          <div>
            <span class="number">2</span>
            <span>ABC</span>
          </div>
        </div>
        <div class="content" (click)="padPress(3)">
          <div>
            <span class="number">3</span>
            <span>DEF</span>
          </div>
        </div>
      </div>
      <div id="linetwo" class="numberline">
        <div class="content" (click)="padPress(4)">
          <div>
            <span class="number">4</span>
            <span>GHI</span>
          </div>
        </div>
        <div class="content" (click)="padPress(5)">
          <div>
            <span class="number">5</span>
            <span>JKL</span>
          </div>
        </div>
        <div class="content" (click)="padPress(6)">
          <div>
            <span class="number">6</span>
            <span>MNO</span>
          </div>
        </div>
      </div>
      <div id="linethree" class="numberline">
        <div class="content" (click)="padPress(7)">
          <div>
            <span class="number">7</span>
            <span>PQRS</span>
          </div>
        </div>
        <div class="content" (click)="padPress(8)">
          <div>
            <span class="number">8</span>
            <span>TUV</span>
          </div>
        </div>
        <div class="content" (click)="padPress(9)">
          <div>
            <span class="number">9</span>
            <span>WXYZ</span>
          </div>
        </div>
      </div>
      <div id="linefour" class="numberline">
        <div class="content" (click)="padPress('*')">
          <div>
            <span class="number">*</span>
          </div>
        </div>
        <div class="content" (click)="padPress(0)">
          <div>
            <span class="number">0</span>
          </div>
        </div>
        <div class="content" (click)="padPress('#')">
          <div>
            <span class="number">#</span>
          </div>
        </div>
      </div>
    </div>
    <div class="led-red"></div>
    <div class="led-yellow"></div>
    <div class="led-green"></div>
  </div>
</div>