/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
html, body {
  margin: 0;
  padding: 0;
  background-color: #F4F7FA;
  font-family: 'Open Sans', sans serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}