#container {
	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-top: 30px;
}

#logo {
	width: 110px;
}

#container h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #93959B;
	margin: 0;
}

#container h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #93959B;
	margin: 20px;
	margin-bottom: 40px;
}


/* Keypad */
.keypadwrapper {
  padding: 15px;
  text-align: center;
  width: 75%;
  background: #fff;
  color: #93959B;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 53px -11px rgba(0,0,0,0.4);
    moz-box-shadow: 0px 0px 53px -11px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 53px -11px rgba(0,0,0,0.4);
}

.keypadwrapper .keypad .numberline {
  width: 100%;
}

.keypadwrapper .keypad .content {
  display: inline-block;
  margin: 0 8%;
}

.keypadwrapper .keypad .content div {
  width: 4em;
  height: 4em;
  text-align: center;
  border: 1px solid #93959B;
  border-radius: 70px;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: background-color 300ms, color 300ms; /* Safari */
  transition: background-color 300ms, color 300ms;
}

.keypadwrapper .keypad .content div span:nth-child(1) {
  display: block;
  font-size: 1.8em;
  height: 1em;
  margin-top: 0.2em;
}

.keypadwrapper .keypad .content div span:nth-child(2) {
  font-size: 0.6em;
}

.keypadwrapper .keypad .content div:hover {
  background-color: #4FB7F9;
  color: #fff;
  border: 1px solid #4FB7F9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keypadwrapper .keypad #linefour {
	margin-bottom: 30px;
}

.keypadwrapper .keypad #linefour div span:nth-child(1) {
  margin-top: 0.4em;
}

.nocircle {
  width: auto !important;
  border: none !important;
  height: auto !important;
}

.led {
  display: inline-block;
  margin: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

@media all and (max-width: 710px) {

	.keypadwrapper .keypad .content {
  		display: inline-block;
  		margin: 0 6%;
		}

  	.keypadwrapper .keypad .content div {
  		width: 3em;
  		height: 3em;
  	}

  	.keypadwrapper .keypad .content div span:nth-child(1) {
  		font-size: 1.2em;
	}

	.keypadwrapper .keypad .content div span:nth-child(2) {
 		 font-size: 0.3em;
	}
}