<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

<div id="container">
  <!-- Header -->
  <img id="logo" src= "{{logo}}">
  <h1>{{title}}</h1>

  <!-- Keypad -->
  <div class="keypadwrapper">
    <div [class]="headerColor">
      <h2>{{header}}</h2>
    </div>
    <div class="keypad">
      <div id="lineone" class="numberline">
        <div class="content" (click)="padPress(1)">
          <div>
            <span class="number">1</span>
          </div>
        </div>
        <div class="content" (click)="padPress(2)">
          <div>
            <span class="number">2</span>
          </div>
        </div>
        <div class="content" (click)="padPress(3)">
          <div>
            <span class="number">3</span>
          </div>
        </div>
      </div>
      <div id="linetwo" class="numberline">
        <div class="content" (click)="padPress(4)">
          <div>
            <span class="number">4</span>
          </div>
        </div>
        <div class="content" (click)="padPress(5)">
          <div>
            <span class="number">5</span>
          </div>
        </div>
        <div class="content" (click)="padPress(6)">
          <div>
            <span class="number">6</span>

          </div>
        </div>
      </div>
      <div id="linethree" class="numberline">
        <div class="content" (click)="padPress(7)">
          <div>
            <span class="number">7</span>

          </div>
        </div>
        <div class="content" (click)="padPress(8)">
          <div>
            <span class="number">8</span>

          </div>
        </div>
        <div class="content" (click)="padPress(9)">
          <div>
            <span class="number">9</span>
          </div>
        </div>
      </div>
      <div id="linefour" class="numberline">
        <div class="content" (click)="padPress('C')">
          <div>
            <span class="number">C</span>
          </div>
        </div>
        <div class="content" (click)="padPress(0)">
          <div>
            <span class="number">0</span>
          </div>
        </div>
        <div class="content" (click)="padPress('#')">
          <div>
            <span class="number">#</span>
          </div>
        </div>
      </div>
    </div>

    <!-- LED -->
    <div [@changeColor]='red' class="led"></div>
    <div [@changeColor]='orange' class="led"></div>
    <div [@changeColor]='green' class="led"></div>
  </div>
</div>